<link href="./css/style.css" rel="stylesheet">

<h1>realTimeProducts</h1>

<div id="products-container" class="products-container">
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js"></script>
<script src="js/main.js"></script>
